@page "/EditEmployee/{Id:int}"
@using AuthBlazer.Data
@inject EmployeeService employeeService
@inject NavigationManager NavigationManager
<div class="mt-2 mb-5 me-4">
    <RadzenBreadCrumb>
        <RadzenBreadCrumbItem Path="/home" Text="Home" />
        <RadzenBreadCrumbItem Path="/Employees" Text="Employees"/>
        <RadzenBreadCrumbItem Path="#" Text="Edit Employee"/>
    </RadzenBreadCrumb>
</div>
<h3>Edit Employee</h3>
<hr />
<EditForm Model="@obj" OnValidSubmit="@UpdateEmployee">
    <div>
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="fullName">Full Name:</label>
            <InputText id="fullName" class="form-control" @bind-Value="@obj.FullName" />
            <ValidationMessage For="@(() => obj.FullName)" />
        </div>

        <div class="form-group">
            <label for="address">Address:</label>
            <InputText id="address" class="form-control" @bind-Value="@obj.Address" />
            <ValidationMessage For="@(() => obj.Address)" />
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <InputText id="email" class="form-control" @bind-Value="@obj.Email" />
            <ValidationMessage For="@(() => obj.Email)" />
        </div>

        <div class="form-group">
            <label for="phone">Phone:</label>
            <InputText id="phone" class="form-control" @bind-Value="@obj.Phone" />
            <ValidationMessage For="@(() => obj.Phone)" />
        </div>

        <div class="form-group">
            <label for="city">City:</label>
            <InputText id="city" class="form-control" @bind-Value="@obj.City" />
            <ValidationMessage For="@(() => obj.City)" />
        </div>

        <div class="form-group">
            <label for="designation">Designation:</label>
            <InputText id="designation" class="form-control" @bind-Value="@obj.Designation" />
            <ValidationMessage For="@(() => obj.Designation)" />
        </div>

        <div class="form-group">
            <label for="image">Image:</label>
            <InputFile id="image" class="form-control" OnChange="OnInputFileChange" />
            <ValidationMessage For="@(() => imageFile)" />
        </div>

        <div class="d-flex justify-content-end gap-3">
            <button type="submit" class="btn btn-primary">Update</button>
            <input type="button" class="btn btn-danger" @onclick="@Cancel" value="Cancel" />
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }

    Employee obj = new Employee();
    private IBrowserFile imageFile;

    protected override async Task OnInitializedAsync()
    {
        obj = await employeeService.GetEmployeeById(Id);
    }

    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        imageFile = e.File;
    }

    protected async Task UpdateEmployee()
    {
        if (imageFile != null)
        {
            using (var memoryStream = new MemoryStream())
            {
                await imageFile.OpenReadStream().CopyToAsync(memoryStream);
                obj.ImagePath = memoryStream.ToArray();
            }
        }

        if (obj != null)
        {
            await employeeService.UpdateEmployeeDetails(obj);
            NavigationManager.NavigateTo("Employees");
        }
    }

    protected void Cancel()
    {
        NavigationManager.NavigateTo("Employees");
    }
}
